body {
    color: #29E2D5;
    font-family: 'Courier New', Courier, monospace;
    background: black;
}

h1, h2, p a {
    color: #EFE2BA;
}

h1 {
    align-self: center;
    text-align: center;
    background: #FC4445;
    border: 5px solid #EFE2BA;
    padding: 10px;
}

ol {
    display: list-item;
    list-style-position: inside;
}